<div class="visitorForm d-flex flex-column justify-content-center text-dark bg-light rounded-5 col-12 p-4">
    {% if app.request.get('tripSummary').duration.hours is not empty%}
        {% set hours = app.request.get('tripSummary').duration.hours ~ ' heures' %}
    {% else %}
        {% set hours = '' %}
    {% endif %}
    <h2 class="text-warning text-center h1 mb-4">Evaluation de votre trajet</h2>
    <p class="fw-light text-center mb-3">Vous faites en moyenne<br>
        <span class="text-primary fw-bold">{{ app.request.get('tripSummary').distance }}
            kilomètres</span>
        <span class="text-primary fw-bold">par jour</span>,
        <br>
        soit
        <br>
        <span class="text-primary fw-bold">
            {{ hours }}
            {{ app.request.get('tripSummary').duration.minutes }}
            minutes
        </span>
        <br>
        passés dans votre voiture.
        Cela équivaut à<br><span class="text-primary fw-bold">{{ app.request.get('tripSummary').annualDistance }}
            kilomètres</span>
        <span class="text-primary fw-bold">par an</span>,
        <br>
        soit
        <br>
        <span class="text-primary fw-bold">
            {{ app.request.get('tripSummary').annualDuration.days }}
            jours
            {{ app.request.get('tripSummary').annualDuration.hours }}
            heures et
            {{ app.request.get('tripSummary').annualDuration.minutes }}
            minutes
        </span>
        <br>
        passés dans votre voiture.
        <br>
        <br>
        <span class="text-primary fw-bold">Réduisez ce temps perdu!</span>
        <br>
        Echangez votre emploi<br>avec une personne
        qui exerce le même métier que vous!
    </p>
    <div class="d-flex justify-content-center mt-4">
        <a href="{{ path("permutsearch") }}" class="btn btn-lg btn-warning w-50 {{ app.user ? '' : 'enter-site' }}">Permutez !</a>
    </div>
</div>
