{% extends "layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('setting') }}
{% endblock %}

{% block title %}
	{{ parent() }}
	- Modifiez votre mot de passe
{% endblock %}

{% block body %}
	<main class="p-lg-5 p-3 setting">
		<h1 class="h1 text-center text-dark">Modifiez votre mot de passe</h1>
		<h2 class="h3 text-center text-dark">Mettez à jour votre mot de passe</h2>

		<div class="d-flex justify-content-center">

			{% form_theme form 'bootstrap_4_layout.html.twig' %}

			{{ form_start(form) }}

			<div class="form row m-0 container p-lg-5 p-0 mt-3 mt-lg-0">
				<div class="col-12 mt-2">
					{{ form_label(form.oldPassword, null, {label: 'Veuillez saisir votre mot de passe actuel'}) }}
					{{ form_widget(form.oldPassword, {'attr': {'placeholder': 'Votre mot de passe actuel', 'class': 'form-control shadow-sm p-3 mb-1 bg-white rounded'}}) }}
				</div>
				<div class="col-12 mt-2">
					{{ form_label(form.newPassword.first, null, {label: 'Veuillez saisir votre nouveau mot de passe'}) }}
					{{ form_widget(form.newPassword.first, {'attr': {'placeholder': 'Votre nouveau mot de passe', 'class': 'form-control shadow-sm p-3 mb-1 bg-white rounded'}}) }}
				</div>
				<div class="col-12 mt-2">
					{{ form_label(form.newPassword.second, null, {label: 'Veuillez répeter votre nouveau mot de passe'}) }}
					{{ form_widget(form.newPassword.second, {'attr': {'placeholder': 'Votre nouveau mot de passe', 'class': 'form-control shadow-sm p-3 mb-1 bg-white rounded'}}) }}
				</div>

				<div class="col-12 mt-4 d-flex justify-content-end flex-column align-items-center">
					<input class="btn btn-primary" type="submit" value="Modifier mon mot de passe">
				</div>
			</div>

			{{ form_end(form) }}

		</div>
	</main>
{% endblock %}
